

<div class="container-fluid" id="colorTest">
    <div class="row" id="coverRow">
        <div class="col-xs-2" id="cTest1">
           <em><h1>H</h1></em><p></p>
           <em><h1><span class="glyphicon glyphicon-cog rotating"></span></h1></em>
        </div>
         <div class="col-xs-2" id="cTest2">
           <em><h1>E</h1></em><p></p>
           <em><h1>W</h1></em>
         </div>
          <div class="col-xs-2" id="cTest3">
           <em><h1>L</h1></em><p></p>
           <em><h1>O</h1></em>   
          </div>
           <div class="col-xs-2" id="cTest4">
            <em><h1>L</h1></em><p></p>
           <em><h1>R</h1></em>
           </div>
            <div class="col-xs-2" id="cTest5">
           <em><h1>O</h1></em><p></p>
           <em><h1>L</h1></em> 
            </div>
             <div class="col-xs-2" id="cTest6">
                 <em><h1>...</h1></em>
          <p></p>
           <em><h1>D</h1></em>
    </div>
    
    </div>
   
 
</div>


