<div class="container-fluid" id="homePage">
<div class="row">
    <div class="col-xs-12">
    

  <em><h1 id="homeJumbo">I'm a junior Web Developer, thanks for checking out my site. I built it in a day and a half, just for you.</span></h1></em>
  <p></p>
    </div>
  </div>
</div>
<div id="navTop">
<div class="container-fluid" id="cover-info"">  
  <div class="row" id="cover-row">
<div class="main-container">
   
      <p>here are some links to my media</p>
      <div class="col-xs-3"></div>
       <div class="col-xs-6">
     <p><a href="https://github.com/ntuzzolino/ntuzzolino.github.io"><img ng-src="app/assets/ghub.png"></a>
     <a href="https://www.linkedin.com/in/nik-tuzzolino-3a00a1b8"><img ng-src="app/assets/linkedin.png"></a></p>
     
    </div>
     <div class="col-xs-3"></div>
      </div>
      <div class="row">
     
    </div>
  </div> 
    
<div class="main-container">
  <div class="row">
   <p>Q: whats better, Object Oriented Programming, or functional?</p>
   <p>A: who would win in a fight between a shark and a bear? it depends on the terrain (or data models you need)</p>
  
 </div>
  </div>