<div class="container-fluid" id="navTop">
 <div class="row">
    <div class="col-md-12">
      <h1><a class="glyphicon glyphicon-cloud" id="slide"></a><h1>
         </div>
        </div>
        <div class="row">
    <div class="col-md-12">
      <h1><a class="glyphicon glyphicon-cloud" id="slide2"></a><h1>
         </div>
        </div><div class="row">
    <div class="col-md-12">
      <h1><a class="glyphicon glyphicon-cloud" id="slide3"></a><h1>
         </div>
        </div><div class="row">
    <div class="col-md-12">
      <h1><a class="glyphicon glyphicon-cloud" id="slide4"></a><h1>
         </div>
        </div>
        <div class="row">
    <div class="col-md-12">
      <h1><a class="glyphicon glyphicon-cloud" id="slide5"></a><h1>
         </div>
        </div>
        </div>


<nav class="navbar navbar-inverse fixed-top">
  
  <!--<div class="container-fluid" id="navbar">-->
    <div class="navbar-header">
      <p class="navbar-brand" id="logo" ui-sref="cover"><img tabindex="0" ng-src="app/assets/face.jpg" class="face" ng-click="$state.go('cover')"></p>
      </div>
      <div class="break" ng-show="!!(viewport <= content.width)">
      <button type="button" class="btn btn-dark glyphicon glyphicon-menu-hamburger" ng-click="collapsed=!collapsed" id="burger"> 
      </button>
      </div>
       
  
   
    <ul class="nav navbar-nav" id="phone-nav"> 
      <li ui-sref="home"><a id="homeNav" class="navb" tabindex="1">HOME</a></li>
      <li ui-sref="skills"><a id="resumeNav" class="navb" tabindex="2">RESUME</a></li> 
      <li ui-sref="about"><a id="aboutNav" class="navb" tabindex="3">ABOUT</a></li> 
      <!--<li ui-sref="gaf"><a id="gafNav"class="navb" tabindex="4">GAF</a></li> 
      <li ui-sref="portfolio"><a  id="portfolioNav" class="navb" tabindex="5">PORTFOLIO</a></li> -->
    </ul>
      
    <!--</div>-->
 
  
</nav>
  


