<div id="navTop">
<div class="main-container">
  
  
     
     
      <div class="progress">
  <div class="progress-bar progress-bar-success  progress-bar-striped active" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
    CSS3/BOOTSTRAP
  </div>
  </div>
  </div>
<div class="main-container">
  
    <div class="progress">
  <div class="progress-bar progress-bar-success  progress-bar-striped active" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:95%">
    JAVASCRIPT
  </div>
</div>
</div>

<div class="main-container">
     <div class="progress">
  <div class="progress-bar progress-bar-success  progress-bar-striped active" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
    HTML5
  </div></p>
</div>
</div>
  <div class="main-container">
  <div class="progress">
  <div class="progress-bar progress-bar-success  progress-bar-striped active" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:80%">
   ANGULARJS 1.5++
  </div>
  
</div>
</div>
<div class="main-container">
     <div class="progress">
  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:50%">
    CORDOVA/IONIC(in cohorts with component based frameworks)
  </div>
</div>
</div>
<div class="main-container">
   <div class="progress">
  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:55%">
    NODE.JS
  </div>
</div>
    
  
     </div>
   </div>   
   <div class="container-fluid" id="grass"></div>