<div class="container-fluid" id="navTop">
 
    <div class="col-md-12" >
      
        </div>
</div>
<div id="navTop">
<div class="container-fluid" id="cover-info">
    <div class="row" id="cover-row">
        <div class="col-xs-12"><h1>these are my absolute favorite test questions posted in my data-store{</h1></div>
        <div class="col-xs-12"><h1>So ... you must think css is as awesome as I do</h1></div>
        <div class="col-xs-6"><h1>nothing quite like it, really</h1></div>
        <div class="col-xs-4"><h1>What a crazy world we live in</h1></div>
        <div class="col-xs-12"><h1>How does one even jQuery? }</h1></div>
        <div class="col-xs-6"></div>
    </div>
</div>

    </div>
    